body {
  background-color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 18px
}

button {
  color: white;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  
}

#timer {
  background-color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 15px 30%;
  border-radius: 5px;
}

#page-content {
  background-color: white;
  font-weight: bold;
  padding: 30px;
  margin: 15px 10%;
  border-radius: 5px;
}

#answer-result {
  background-color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin: 15px 30%;
  border-radius: 5px;
}